*, :after, :before {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
    color: #161d31;
}

.header {
    background-color: #fff;
    color: #262626;
    width: 100%;
    position: relative;
    font-family: 'source-sans-pro', 'Source Sans Pro', 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 16px;
    min-height: 70px;
    text-align: left;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
    z-index: 999;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.container-header {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    width: auto;
}

@media (min-width: 760px) {
    .container-header {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
    }
}

@media (min-width: 1020px) {
    .container-header {
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }
}

@media (min-width: 1260px) {
    .container-header {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
    }
}

.l-header {
    display: flex;
    align-items: center;
    margin: 0 10px
}

.site-logo img {
    width: 50px;
    height: 50px;
}

.deposit-ads {
    display: inline-table;
    margin: 0 10px;
}

.deposit-ads-button {
    display: inline-block;
    padding: 9px 12px;
    border: 1px solid #161d31;
    color: #161d31;
    background-color: white;
    border-radius: 12px;
    font-size: 15px;
    text-align: center;
    transition: all 0.2s ease;
    font-weight: 400;
    text-decoration: none;
    outline: none;
}

.deposit-ads-button svg {
    margin-right: 5px;
    fill: #161d31;
    vertical-align: bottom;
    transition: all 0.2s ease;
}

.deposit-ads-button:hover {
    border: 1px solid #ddd;
    color: #fff;
    background-color: #161d31;
}

.deposit-ads-button:hover svg {
    fill: #fff;
}

.r-header {
    display: flex;
    align-items: center;
}

.r-header div {
    margin: 5px;
}

.nav-item,
.nav-cart {
    position: relative;
    color: #161d31;
}

.nav-user-div,
.nav-user-div span,
.nav-item a,
.nav-cart a {
    display: flex;
}

.nav-item-div,
.nav-cart-div {
    display: flex;
    flex-direction: column;
}

.nav-cart a::before {
    content: "";
    margin-top: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-image: url(shopping-cart.svg);
}

.nav-item.category {
    position: relative;
}

.nav-item.category a.cat::before {
    content: "";
    margin-top: 10px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    background-image: url(menu.svg);
}

@media screen and (min-width: 992px) {
    .category-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 60px;
        left: -115px;
        width: 790px;
        background-color: rgb(255, 255, 255);
        border-radius: 0.8rem;
        box-shadow: rgb(26 26 26 / 8%) 0px -1px 4px 0px, rgb(26 26 26 / 12%) 0px 4px 8px 0px;
        padding: 0px;
    }
    
    .cat-right,
    .cat-left {
        width: 29rem;
        flex: 0.4;
    }
    
    .category-choose {
        display: none;
    }
    
    .category-choose.active {
        display: block;
    }
    
    .cat-left {
        border-right: 1px solid #e6ebef;
    }
    
    .subcategory-item,
    .category-item {
        display: flex;
        align-items: center;
        padding: 15px 12px;
        border-radius: 4px;
        min-height: 2rem;
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
    }
    
    .category-item.active,
    .subcategory-item:hover,
    .category-item:hover {
        background: #161d31;
        color: #fff;
        transition: all 0.3s ease-in-out;
    }
    
    .category-item.active svg,
    .subcategory-item:hover svg,
    .category-item:hover svg {
        fill: #fff;
    }
    
    .subcategory-item svg,
    .category-item svg {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }
    
    .cat-item-selected {
        margin-left: auto;
    }
    
    .cat-item-selected svg {
        width: 13px;
        height: 13px;
    }
    
}

.nav-item.favorite a::before {
    content: "";
    margin-top: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-image: url(heart.svg);
}

.nav-item.home a::before {
    content: "";
    margin-top: 0;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-image: url(home.svg);
}

.nav-user-div::before {
    content: "";
    margin-top: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-image: url(user.svg);
    background-repeat: no-repeat;
}

.cart-num {
    max-width: 25px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: #161d31;
    color: #fff;
    font-size: 12px;
}

.item-text {
    display: block;
    font-size: 13px;
    color: #161d31;
    width: 50px;
    overflow: hidden;
}

.category .item-text {
    width: auto;
}

.nav-item.user .nav-item-div span {
    width: auto;
}

.nav-items .signin:hover,
.nav-items .signout:hover,
.nav-items:hover span.item-text {
    color: crimson !important;
}

.nav-items.user:hover .account {
    color: #161d31 !important;
}

.nav-items:hover .cart-num {
    background-color: crimson;
    color: #fff !important;
}

.nav-items:hover .nav-user-div::before {
    background-image: url(user_color.svg);
}

.nav-items.favorite:hover a::before {
    background-image: url(heart_color.svg);
}
.nav-items.home:hover a::before {
    background-image: url(home_color.svg);
}
.nav-items.cart:hover a::before {
    background-image: url(shopping-cart_color.svg);
}


@media screen and (max-width: 992px) {
    .header {
        min-height: 50px;
    }

    .header-wrap {
        height: 50px;
    }

    .hidden-sm {
        display: none;
    }

    .site-logo img {
        width: 40px;
        height: 40px;
    }

    .r-header div {
        margin: 8px;
    }

    .nav-item-sm.nav-items.category span SVG {
        height: 20px;
        width: 20px;
        margin-right: 10px
    }

    .nav-user-div::before {
        margin-top: 0px;
        width: 23px;
        height: 23px;
    }

    .nav-cart a::before {
        margin-top: 3px;
        width: 23px;
        height: 23px;
    }

    .nav-item.favorite a::before {
        margin-top: 2px;
        width: 25px;
        height: 25px;
    }

    .nav-item.home a::before {
        margin-top: 0;
        width: 25px;
        height: 25px;
    }
}